.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  bottom: 0;
  right: 0;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 95vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Creates two columns of equal width */
  grid-template-rows: repeat(2, 1fr);
  /* Defines the size of the rows */
  gap: 20px;
  /* Adds space between grid items */
  align-items: start;
  /* Aligns items to the start of the cell */
  justify-content: center;
  /* Centers content horizontally */
  padding: 30px;
  /* Add padding to the header */
  position: relative;
  /* Needed for absolute positioning of children */
}

.grid-item {
  display: flex;
  align-items: center;
  /* This will vertically center the text in the dropzone */
  justify-content: center;
  /* This will horizontally center the text in the dropzone */
  flex-direction: column;
  /* Stack children vertically */
  margin: 20px;
  min-height: 200px;

}

.rightarrow {
  height: 15vmin;
  pointer-events: none;
  bottom: 0;
  right: 0;
}


/* Style for the process button */
.process-button {
  background-color: #f0f0f0;
  /* Light grey background */
  border: none;
  /* No border */
  padding: 10px 20px;
  /* Padding around the text */
  margin-top: 20px;
  /* Space between the arrow and the button */
  cursor: pointer;
  /* Cursor indicates it's clickable */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Subtle shadow for depth */
  border-radius: 5px;
  /* Rounded corners */
}

.download-button {
  width: 30%;
  height: 100%;
  min-height: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}